# This is .env file that hidden mongodb credentials 

HOST_NAME="localhost"
PORT=3000

PASSWORD_SECRET="encryption_secret"
SESSION_SECRET="encryption_secret"

# MongoDB Connection
# For a local connection (example): mongodb://localhost:27017/IWACA2
# For atlas connection (example): mongodb+srv://admin:<password>@mongodb.<cluster>/<database>?retryWrites=true&

DB_HOST="mongodb://localhost:27017/IWACA2"

API_SECRET="token_secret"

# Mail Credentials
# Connection with gmail: smtp.gmail.com
MAIL_HOST=smtp.mailtrap.io
MAIL_USERNAME=null
MAIL_PASSWORD=null
# Encryption types: SSL (465), TLS (587), and null (TLS)
MAIL_ENCRYPTION=null


# DB_URL = "mongodb+srv://Jess:iwa@cluster0.yva3d.mongodb.net/IWACA2?retryWrites=true&w=majority"